@import '../bower_components/bootstrap/less/bootstrap';
@icon-font-path: '../bower_components/bootstrap/fonts/';

@nav-height: 132px;


html{
	height: 100%;
	position: relative;
	body{
		padding-top: @nav-height;
		min-height: 100%;
	}
}

header{
	nav.navbar{
		& > .container a.navbar-brand{
			position: absolute;
			top: 0px;
			left: 50%;
			margin-left: -75px;
			max-width: 150px;
			height: auto;
			float: none;
			padding: 0;
		}
	}
	#top-nav{
		@media(min-width: @grid-float-breakpoint){
			.navbar-nav{
				width: 50%;
				.box-sizing(border-box);
				margin: 0;
				& > li{
					width: 50%;
					a{
						text-align: center;
						padding: 30px 15px;
					}
				}
			}
			.navbar-left{
				padding-right: 100px;
			}
			.navbar-right{
				padding-left: 100px;
			}
		}
	}
}

@import 'template-home';